Source: lliurex-snapd-fixes
Section: admin
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: http://lliurex.net
#Vcs-Browser: https://salsa.debian.org/debian/lliurex-snapd-fixes
#Vcs-Git: https://salsa.debian.org/debian/lliurex-snapd-fixes.git
Rules-Requires-Root: no

Package: lliurex-snapd-fixes
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fix snap configuration by oem mode 
 Reconfigure snap and apply patches for oem mode 

Package: lliurex-snapd-update-fix
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: snapd (>=2.72+ubuntu22.04)
Description: Fix snap configuration by oem mode 
 Reconfigure snap and apply patches for oem mode 
